/*Título*/
h1 {
   
}

/*Subtítulo*/


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
    gap: 5rem;
    position: fixed;
    background-color: #fdf9f9ea;
    /*background-color: #f7f7c4;*/
    padding: .6rem;
    border-radius: 10px;

    z-index: 1; /*pro menu se sobrepor*/
}

/*SLIDE*/

/*Nome do local*/
h5 {
    color: yellow;
    font-weight: bolder;
    font-size: 1.2rem;
       

}

/*Onde fica*/
h5+p {
    color: yellow;
    font-size: 1rem;
    margin-bottom: -1rem;

}

/*Imagens do slide*/
.img_slide {
    /*height: 25rem;*/
    /*width: 100%;*/
    /*width: auto;*/

}


/*DESTINO / CARDS*/
.container_card {

}
.card {
   
    

}

.img_cards {
   

}


